* {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: rgba(4, 110, 250, 0.5);
  width: 100%;
  height: 200px;
  font-family: "Roboto Condensed", sans-serif;
}

/* colum size */

.colm-s-1 {
  width: 8.33%;
}
.colm-s-2 {
  width: 16.66%;
}
.colm-s-3 {
  width: 25%;
}
.colm-s-4 {
  width: 33.33%;
}
.colm-s-5 {
  width: 41.66%;
}
.colm-s-6 {
  width: 50%;
}
.colm-s-7 {
  width: 58.33%;
}
.colm-s-8 {
  width: 66.66%;
}
.colm-s-9 {
  width: 75%;
}
.colm-s-10 {
  width: 83.33%;
}
.colm-s-11 {
  width: 91.66%;
}
.colm-s-12 {
  width: 100%;
}

/* Header Section Start Here */

header {
  display: flex;
}

.logo {
  text-align: center;
  margin: 10px 0;
}

.logo img {
  border-radius: 50%;
}

.menu-icon{
  margin: 10% 0 0 10%;
}

.menuhide{
  display: none;
}

.menu{
  display: block;
  position: absolute;
  font-size: 2rem;
  z-index: 1;
  background-color: black;
  margin-left: -1rem;
  width: 103%;
  padding: 3rem;
  box-sizing: border-box;
  border-radius: 2rem;
}


.menu li{
  list-style: none;
  margin-top: 1rem;
}
.menu li a{
  text-decoration: none;
  color: white;
}

.menu li a:hover{
  text-decoration: underline;
  text-decoration-color: blue;
}

/* .menu {
  text-align: center;
  background-color: rgb(83, 118, 145);
  margin: 0;
  padding: 0;
  border-radius: 5px;
} */

/* .menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
} */
/* .menu ul li {
  display: inline-block;
  text-align: center;
  margin: 5px 0;
  transform: 0.4s;
  padding: 5px 0;
  height: 40px;
  width: 70%;
} */

/* .menu ul li a {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  color: white;
  text-decoration: none;
  text-align: center;
} */

/* .menu ul li:hover {
  transition: 0.4s;
  background: rgb(78, 84, 88, 0.5);
  border-radius: 10px;
} */
/* 
header::after {
  clear: both;
} */

/* Header Section End Here */

/* Poster Section Start Here */

/* .cursor-notify {
  display: none;
} */

.poster {
  margin: -10px 0;
  border-top: 5px solid rgb(23, 15, 29);
  background-color: black;
  transform: 0.4s;
  /* cursor: none; */
  position: relative;
}

.poster:hover {
  box-shadow: 5px 5px 5px rgb(25, 25, 26, 0.5);
  transition: 0.4s;
}

.poster::after {
  clear: both;
}

/* Poster Section End Here */

/* About Me Section Start Here */

.cards {
  margin-top: 50px;
}

#about-me {
  margin: 10px 0;
  padding: 10px;
  margin-left: 4%;
}

.my-photo {
  text-align: center;
  padding-top: 50px;
}

.my-photo img {
  border: 2px solid rgb(77, 75, 75);
  border-radius: 50%;
  padding: 3px;
  cursor: pointer;
}

.about-me {
  margin: 0 auto;
  padding: 20px;
  border-radius: 25px;
  background-color: rgb(0, 153, 255);
  color: rgb(0, 0, 0);
  font-family: "Playwrite NZ Guides", cursive;
  transform: 0.4s;
}

.about-me:hover {
  box-shadow: 5px 5px 5px;
}

.hr {
  border-color: rgb(30, 30, 31);
  margin: 10px 0;
}

.about-me h1 {
  text-align: center;
}

.about-me::after {
  clear: both;
}

/* About Me Section End Here */

/* Skill Section Starts Here */

.skill {
  border: 2px solid red;
  margin: 0 auto;
  padding: 20px;
  cursor: none;
  border-radius: 20px;
  background-color: black;
  color: white;
  margin-left: 4%;
  height: 100%;
}

.skill:hover {
  box-shadow: 5px 5px 5px rgb(25, 25, 26);
}

.skill h1 {
  text-align: center;
}

.skill ul {
  margin-left: -20px;
}

.skill ul li {
  list-style: none;
  margin: 30px 0;
  position: relative;
}

.skill ul li::before {
  content: "";
  position: absolute;
  height: 10px;
  width: 100%;
  top: calc(100% + 10px);
  background-color: rgb(9, 45, 252, 0.5);
  border-radius: 100px;
}

.skill ul li::after {
  content: "";
  position: absolute;
  height: 10px;
  width: 100%;
  left: 0;
  width: 0;
  top: calc(100% + 10px);
  background-color: rgb(9, 45, 252, 1);
  border-radius: 100px;
  animation:  3s 0.2s forwards 1 linear;
}

.skill ul li:hover > .skill ul li::after{
  animation:  3s 0.2s forwards 1 linear;
}

/* Skill Animation Start Here */

.skill ul li.html::after {
  animation-name: html;
}

@keyframes html {
  to {
    width: 90%;
  }
}

.skill ul li.css::after {
  animation-name: css;
}

@keyframes css {
  to {
    width: 90%;
  }
}

.skill ul li.bootstrap::after {
  animation-name: bootstrap;
}

@keyframes bootstrap {
  to {
    width: 50%;
  }
}

.skill ul li.tailwin-css::after {
  animation-name: tailwin-css;
}

@keyframes tailwin-css {
  to {
    width: 0%;
  }
}

.skill ul li.java::after {
  animation-name: java;
}

@keyframes java {
  to {
    width: 0%;
  }
}

.skill ul li.java-script::after {
  animation-name: java-script;
}

@keyframes java-script {
  to {
    width: 0%;
  }
}

.skill ul li.python::after {
  animation-name: python;
}

@keyframes python {
  to {
    width: 30%;
  }
}

/* Skill Animation End Here */

/* Skill Section End Here */

/* Education Section Start Here */

#education {
  padding: 10px;
}

.education-destop {
  text-align: center;
  display: none;
}

.education h1 {
  text-align: center;
}

.education label {
  font-weight: bold;
}

.education ul {
  font-size: 15px;
  list-style: none;
}

.education ul li {
  margin: 5px;
}

/* Education Cards Start Here */

.ssc {
  border: 1px solid red;
  padding: 15px;
  font-size: 15px;
  background-color: rgba(206, 67, 183, 0.726);
  border-radius: 10px;
}

.sem-1 {
  margin-top: 10px;
  border: 1px solid red;
  padding: 15px;
  font-size: 15px;
  background-color: rgba(206, 67, 183, 0.726);
  border-radius: 10px;
}

.sem-1:hover,
.ssc:hover {
  box-shadow: 5px 5px 5px;
}

/* Education Cards End Here */

/* Education Section End Here */

/* Main End Here */

/* Footer Start Here */


footer {
  background-color: black;
}
.footer-container{
  background-color: black;
}

footer .contact-me-dectop-top {
  display: none;
}

/* Contact Me Start Here */
.contact-me {
  background-color: rgb(65, 66, 66);
}

.contact-logos {
  display: block;
}

.contact-me h1 {
  text-align: center;
  color: white;
  padding: 20px 0;
}

.contact-me hr {
  margin: 0 8.33%;
  width: 75%;
}

.contact-me div {
  display: block;
  margin: 0 auto;
}

.contact-me div:nth-child(2) {
  padding-top: 0px;
}

.contact-me button {
  border: none;
  font-size: 32px;
  margin: 7%;
  width: 48px;
  border-radius: 25px;
  padding: 5px;
  background-color: white;
  cursor: pointer;
}

.contact-me button:hover {
  background-color: gray;
}

.contact-me button i {
  margin: 0 auto;
  position: relative;
}

.instagram p {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  background-repeat: no-repeat;
  border-radius: 25px;
  height: 40px;
  background-position: 0%;
}

.instagram p::after {
  clear: both;
}

.instagram-logo {
  text-align: center;
  margin: 0 auto 0 auto;
}

.instagram-logo i {
  box-sizing: border-box;
  padding: 10% 5% 0% 0;
}

.contact-me::after {
  clear: both;
}

/* Contact Me End Here */

/* Footer Menu Start Here */

.footer-menu ul {
  list-style: none;
}

.footer-menu ul li {
  text-align: center;
  font-size: 20px;
  margin: 20px;
  border-radius: 10px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-menu ul li:hover {
  background-color: rgb(65, 63, 63);
}

.footer-menu ul li a {
  text-decoration: none;
  color: white;
}

.footer-menu ul li::after{
  clear: both;
}




.footer-menu::after {
  clear: both;
}

.contact-me-dectop-top::after {
  clear: both;
}

footer::after{
  clear: both;
}

/* Footer Menu End Here */

/* Footer Description Start Here */

.copy-right {
  text-align: center;
  color: white;
  font-size: 15px;
  vertical-align: center;
  display: flex;
  background-color: black;
  margin: -20px 0 0 0;
}

.copy-right img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0 auto;
  border: 2px solid;
}


.copy-right p{
  padding: 5px 0 20px 0;
  box-sizing: border-box;
}


.copy-right p span{
  font-size: 25px;
  color: red;
}

/* Footer Description End Here */
